@model TMBF.Models.SearchParameterModel
@{
    ViewBag.Title = "Export rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
</script>
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section id="ReportViewer">
    @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <fieldset>
            <ul>
                @Html.LabelFor(m => m.Month)
                @Html.TextBoxFor(m => m.Month)
                @Html.ValidationMessageFor(m => m.Month)
            </ul>
            <ul>
                @Html.LabelFor(m => m.Year)
                @Html.TextBoxFor(m => m.Year)
                @Html.ValidationMessageFor(m => m.Year)
            </ul>
            <ul>

                @Html.LabelFor(m => m.ServiceID)
                @Html.DropDownList("ServiceID", String.Empty)
                @Html.ValidationMessageFor(model => model.ServiceID)
            </ul>
            <ul>

                @Html.LabelFor(m => m.CountryID)
                @Html.DropDownList("CountryID", String.Empty)
                @Html.ValidationMessageFor(m => m.CountryID)
            </ul>
            <ul>
                <input type="submit" id="btnSubmit" value="View Report" />
            </ul>
            <ul>
                @if (Model != null)
                {
                    <section class="social" id="ReportDisplayPanel">
                        @Html.ActionLink("Download Official Excel", "DownloadExcel", new { reportName = "Rate", month = Model.Month, year = Model.Year, format = "Excel", serviceID = Model.ServiceID, countryID = Model.CountryID })
                        @Html.ActionLink("Download Draft Excel", "DownloadDraftRateExcel", new { reportName = "Rate", month = Model.Month, year = Model.Year, format = "Excel", serviceID = Model.ServiceID, countryID = Model.CountryID })
                        <br><img style="border:1px solid gray;" src="@Url.Action("GenerateReport", "Report", new { reportName = "Rate", month = Model.Month, year = Model.Year, format = "Image", serviceID= Model.ServiceID, countryID = Model.CountryID })" />
                    </section>
                }
            </ul>

        </fieldset>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

