@model IEnumerable<TMBF.Models.Service>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PeekRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OffPeekRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateEffectiveDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RateEndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeekRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffPeekRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateEffectiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateEndDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
