@model PagedList.IPagedList<TMBF.Models.Service>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Rate History of Services</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Source Country
        </th>
        <th>
            Destination Country
        </th>        
        <th>
            Peek Rate
        </th>
        <th>
            Off-Peek Rate
        </th>
        <th>
            Rate Effective Date
        </th>
        <th>
            Rate End Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SourceCountry.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DestinationCountry.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PeekRate)/min.
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OffPeekRate)/min.
        </td>        
        <td>
            @Html.DisplayFor(modelItem => item.RateEffectiveDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RateEndDate)
        </td>
        <td>            
            @Html.ActionLink("Details", "Details", new { id=item.ID })            
        </td>
    </tr>
}

</table>
<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))