@{
    var menus = new[]
                {
                   //new { LinkText="Home", ActionName="Index",ControllerName="Home",Roles="Anonymous,All"  },
                   new { LinkText="My Bill", ActionName="CustomerBillReportViewer",ControllerName="Report",Roles="Customer"  },
                   new { LinkText="Customers", ActionName="Index",ControllerName="Customer",Roles="SalesRep"  },
                   new { LinkText="Sales Representative", ActionName="Index",ControllerName="SalesRep",Roles="Admin"},
                    
                   new { LinkText="Commission checking", ActionName="SalesRepCommissionReportViewer",ControllerName="Report",Roles="SalesRep"},
                   new { LinkText="Commission Summary", ActionName="SummarySalesRepCommissionReportViewer",ControllerName="Report",Roles="Admin"},
                   new { LinkText="Traffic Summary", ActionName="TrafficSummaryReportViewer",ControllerName="Report",Roles="Admin"},
                   new { LinkText="Export Rate", ActionName="RateReportViewer",ControllerName="Report",Roles="Admin"},
               
                   new { LinkText="Admin", ActionName="Index",ControllerName="Admin",Roles="Admin"},                                      
                   new { LinkText="Services", ActionName="Index",ControllerName="Service",Roles="Admin"  },
                   new { LinkText="Calls", ActionName="Index",ControllerName="Call",Roles="Admin"},
                   new { LinkText="Country", ActionName="Index",ControllerName="Country",Roles="Admin"},
                   new { LinkText="Update Rates", ActionName="FileUpload",ControllerName="Rate",Roles="Admin"},                        
                   new { LinkText="About", ActionName="About",ControllerName="Home",Roles="Anonymous,All"  }
               
                };
}  

<ul id="menu" class="nav navbar-nav">
    @if (@Session["UsrName"] != null)
    {
        bool Exist = false;

        String[] roles = new String[] { @Session["Role"].ToString() };
        var links = from item in menus
                    where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                    .Any(x => roles.Contains(x) || x == "All")
                    select item;
        if (@Session["Role"].ToString() == "Admin") 
        { 
         foreach (var link in links)
        {
            if (link.LinkText == "Commission Summary" || link.LinkText == "Traffic Summary" || link.LinkText == "Export Rate" || link.LinkText == "About")
            {
                Exist = true;
            }
            else
            {  <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>}
        }
        if (Exist)
        {
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Reports <b class="caret"></b></a>
                <ul class="dropdown-menu">


                    @foreach (var link in links)
                    {
                    if (link.LinkText == "Commission Summary" || link.LinkText == "Traffic Summary" || link.LinkText == "Export Rate")
                    {
                    <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
                    }
                    }

                </ul>
            </li>
        <li><a href="/Home/About">About</a></li>
        }
        }
        else 
        {
        
       foreach (var link in links)
        {
            <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>}
        
        }
       
    }
    else
    {
        var links = from item in menus
                    where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                    .Any(x => new String[] { "All", "Anonymous" }.Contains(x))
                    select item;
        foreach (var link in links)
        {
            @:
            <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
        }
    }
</ul> 